<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}La Casa Del Novel{% endblock %}</title>
<body>
{% block body %}
    <a href="{{ path('home') }}">
        <img id="logo" src="{{ asset('build/img/logo_large.png') }}" alt="livre">
    </a>
    {% if not app.user %}
        <section id="block">

        <section id="header">
            <a href="{{ path('LN') }}" class="menu-title">Novels</a>
            {#                    <a href="#" class="menu-title">Suggestions</a> FORUM #}
            <a href="{{ path('translators') }}" class="menu-title">Traducteurs</a>
            <a href="{{ path('forum') }}" class="menu-title mar-right">Forum</a>
            <a href="{{ path('app_register') }}" class="menu-title">Inscription</a>
            <a href="{{ path('app_login') }}" class="menu-title">Connexion</a>

        </section>
    {% else %}

        <section id="block">
            <section id="header">
                <a href="{{ path('LN') }}" class="menu-title">Novels</a>
                {#                    <a href="#" class="menu-title">Suggestions</a> FORUM #}
                <a href="{{ path('translators') }}" class="menu-title">Traducteurs</a>
                <a href="{{ path('forum') }}" class="menu-title">Forum</a>
                {% if app.user.role == "traducteur" %}
                    <a href="{{ path('add_novel') }}" class="menu-title">Ajouter un Novel</a>
                    <a href="{{ path('add_chapter') }}" class="menu-title mar-right">Ajouter un chapitre</a>
                {% endif %}
                {% if app.user.role == "administrateur" %}
                    <a href="{{ path('add_novel') }}" class="menu-title">Ajouter un Novel</a>
                    <a href="{{ path('add_chapter') }}" class="menu-title mar-right">Ajouter un chapitre</a>
                    <a href="#" class="menu-title mar-right">Editer les données</a>

                {% endif %}
                <a href="{{ path('profil') }}" class="menu-title">{{ app.user.pseudo }}</a>
                <a href="{{ path('app_logout') }}" class="logout-button">| Log Out</a>

            </section>
    {% endif %}

{% endblock %}


{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </head>
</html>
